/* Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    /* Colors */

/* Primary */

--Pink: hsl(322, 100%, 66%);

/* Neutral */

--Very-Pale-Cyan: hsl(193, 100%, 96%);
--Very-Dark-Cyan: hsl(192, 100%, 9%);
--Grayish-Blue: hsl(208, 11%, 55%);

 /* Fonts */
 --font-family-Headings: "Poppins", sans-serif; /* 600 */
 --font-family-Body: "Open Sans", sans-serif; /* 400, 700 */
 --font-wght-400: 400;
 --font-wght-600: 600;
 --font-wght-700: 700;
 --font-size: 18px;

}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--font-family-Body) !important;
    position: relative;
}

/* header section */ 

header {
    background-color: var(--Very-Pale-Cyan) !important;
    background: url(./images/bg-hero-desktop.svg) no-repeat center center/cover;
    margin-bottom: 10em;
}

.custom-h1-header,
h2 {
    font-family: var(--font-family-Headings);
    font-size: 2.6rem;
    font-weight: var(--font-wght-600);
}

.custom-h1-header {
    width: 500px !important;
}

.custom-header-container img {
    margin-left: 10em !important;
}

.custom-p-header {
    width: 600px !important;
    font-size: 1.3rem;
    font-weight: var(--font-wght-400);
    color: var(--Very-Dark-Cyan) !important;
}

.custom-btn-header {
    color: white;
    background-color: var(--Pink);
}

.custom-btn-header:hover,
.custom-btn-footer-section:hover {
    cursor: pointer;
    opacity: 70%;
}

/* nav section */

.navbar,
.custom-header-container {
    padding: 3rem 5rem !important;
}


.header-img img {
    margin-left: 7rem !important;
}

.custom-header-container {
    display: flex;
}

.navbar button {
    background-color: white;
    border: none;
}
.navbar button:hover {
    opacity: 0.8;
    cursor: pointer;
}

/* section */

#one .custom-section-img-container img,
#three .custom-section-img-container img {
    margin-left: 10rem !important;
    width: 400px !important;
}

#two .custom-section-img-container img {
    margin-right: 10rem !important;
    width: 400px !important;
}

#one, #two, #three {
    width: 100em !important;
    margin-left: 10em !important;
    margin-right: 10em !important;
}

section p {
    font-size: var(--font-size);
}


/* Section before footer */

.custom-btn-footer-section {
    font-size: 1.2rem;
    padding: 1.5rem 5rem;
    border: none;
    color: white;
    background-color: var(--Pink);
}


.custom-container-section-before-footer {
    position: relative;
    background-color: white;
    bottom: -120px;
    max-width: 800px;
    margin: auto;
    padding: 2.5rem 4rem !important;
}

/* footer */ 

footer {
    color: white;
    background-color: var(--Very-Dark-Cyan);
}

.custom-padding-footer {
    padding-top: 150px;
    padding-bottom: 50px;
}

.footer-container {
    display: flex;
    justify-content: space-between;
}

span {
    margin-left: 10px;
}

/* Links */
.links {
    display: flex;
}

.links ul,
.links ul li {
    margin-left: 25px;
    padding: 0;
    list-style: none;
    margin-bottom: 8px;
}

.links ul li:hover {
    cursor: pointer;
    text-decoration: underline;
}

/* Social Media Icons */
.social i {
    width: 36px;
    height: 36px;
    margin: 10px;
    border: 1px solid white;
    padding: 9px;
    border-radius: 50%;
    margin-right: 10px;
    transition: all 0.3s ease-in-out;
}

.social i:hover {
    cursor: pointer;
    border: 1px solid var(--Pink);
    color: var(--Pink);
}

/* Copyright */
.copyright {
    font-size: 12px;
    text-align: right;
}


@media (max-width: 768px) {
    header {
        background-color: var(--Very-Pale-Cyan) !important;
        background: url('../images/bg-hero-mobile.svg') no-repeat center center/cover;
    }

    .custom-h1-header {
        font-size: 1.5rem;
        width: 300px !important;
        text-align: center;
    }
    
    .custom-header-container img {
        margin-left: 0 !important;
        width: 400px !important;
    }
    
    .custom-p-header {
        width: 320px !important;
        text-align: center;
    }

    .navbar {
        margin: 0 !important;
    }

    .nav-logo-img {
        width: 100px !important;
    }

    .navbar {
        padding: 15px 5px !important;
        margin: 0px 2px !important;
    }

    
    .custom-container {
        padding: 1.5rem  !important;
        margin: 0rem 1.5rem !important;
        text-align: center;
    }

    .custom-nav-btn {
        width: 150px !important;
        height: 50px !important;
        font-size: 8px !important;
        margin: 0 !important; 
        padding: 2px 2px !important;
        background-color: white;
        color: var(--Very-Dark-Cyan);
        font-weight: var(--font-wght-700);
    }

    .custom-header-container {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 0 !important;
        margin: 1rem 1.5rem !important;
        text-align: center;
    }

    #one, #two, #three {
        width: 20em !important;
        margin-left: 1em !important;
        margin-right: 1.5em !important;
    }

    #one .custom-section-img-container img,
    #three .custom-section-img-container img {
    margin-left: 0 !important;
}

    #two .custom-section-img-container img {
    margin-right: 0 !important;
}

    #two .custom-section-container {
        flex-direction: column-reverse !important;
    }


    .custom-h2-footer-section {
        font-size: 1rem;
    }

    .custom-btn-footer-section {
        font-size: 1rem;
        padding: 1rem 1rem;
    }

    .custom-container-section-before-footer {
        margin: 1rem 1.5rem;
    }

    .links {
        margin-top: 20px;
        display: flex;
        flex-direction: column;
    }

    .links ul,
    .links ul li {
        margin-left: 0;
        padding: 0;
        list-style: none;
    }

    .social {
        margin-top: 20px;
        margin-bottom: 20px;
    }

    .social i{
        margin: 10px;
    }

    .copyright {
        font-size: 12px;
        text-align: center;
    }

}